@media(max-width:480px){
h1{
    background-image:linear-gradient(to right, #00518C,  #377ED0 );
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100vw;
    color: white;
    font: normal 4vw "Montserrat",sans-serif;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    margin: 5vh auto;
    width: 85vw;
}

form label{
    font: normal 3.5vw "Montserrat",sans-serif;
    margin-bottom: 2.5vw;
    width: 80vw;
    margin: auto;
}

.locais{
    font: normal 3.5vw "Montserrat",sans-serif;
}

form input{
    border: 1px solid #79797946;
    padding: 2.5vw;
    border-radius: 10px;
    margin-bottom: 10vw;
}

form button{
    width: 80vw;
    background-image: linear-gradient(to right, #00518C,  #377ED0 );
    padding: 3vw;
    color: white;
    border-radius: 10px;
    align-self: center;
}

form textarea{
    width: 80vw;
    margin: auto;
    border: 1px solid #797979;
    border-radius: 10px;
    padding: 5vw;
    margin-bottom: 5vh;
}

.notify{
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%,50%);
    width: 90vw;
    background-color: white;
    border: 1px solid #797979;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
    padding: 8vw;
    border-radius: 10px;
    z-index: 5;
}

.show-notify{
    position: absolute;
    top: 35% !important;
    transition-duration: 0.8s;
}

.notify p{
    font: normal 3.5vw "Montserrat",sans-serif;
    text-align: center;
    color: #333333;
}

.notify a{
    background-image: linear-gradient(to right, #00518C,  #377ED0 );
    padding: 3vw;
    text-align: center;
    color: white;
    font: bold 3vw "Montserrat",sans-serif;
    width: 80%;
    border-radius: 10px;

}

.Acessos{
    display: flex;
    flex-direction: column;
    gap: 6vh;
    border: 1px solid #79797946;
    border-radius: 10px;
    padding: 5vw;
}

fieldset{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 80vw;
    margin: auto;
    margin-bottom: 5vh;
}

fieldset legend{
    margin-bottom: 5vh;
    margin-top: 3vh;
    font: normal 3.5vw "Montserrat", sans-serif;
}

fieldset div{
    height: 5vh;
}

.Acessos button{
    margin-bottom: 2vh;
}

fieldset label{
    margin-left: 1vw;
}

.rating-box label{
    color: #2872BE;
    font: normal 5vw "Montserrat",sans-serif;
    text-align: center;
}

.locais input{
    margin-bottom: 2.5vh !important;
}

.Tipo-locais{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
}

.Tipo-locais span{
    margin-top: 3vh;
    margin-bottom: 1.5vh;
}

.Tipo-locais span input{
    margin-right: 1.5vw;
}
}
