@media(max-width:480px){
    header{
        width: 100vw;
        height: 8vh;
        background-color: white;
        display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr;
                gap: 0px 0px;
                grid-auto-flow: row;
                grid-template-areas:
                  "none logo user";
    
              
    }

    header a{
        width: 75%;
        grid-area: logo;
        justify-self: center;
        align-self: center;
    }

    header img{
        width: 100%;
    }

    #usuario{
        width: 20% !important;
        aspect-ratio: 1/1;
        object-fit: contain;
        grid-area: user;
        justify-self: center;
        align-self: center;
    }

    .categories{
        width: 100vw;
        height: 100vw;
        padding: 5vh 10vw 5vh 10vw;
        background-image: linear-gradient(135deg, #00518C,  #377ED0 );
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .categories .searchBar{
        width: 100%;
        margin:0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .searchBar input{
        width: 90%;
        padding: 1.5vh 2vw 1.5vh 5vw;
        border-radius: 10px;
    }

    .searchBar input::placeholder{
        font-size: 3vw;
    }

    .categories img{
        width: 10%;
    }

    .cat-icons{
        height: 80%;
        margin: auto;
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
            ". . ."
            ". . ."; 
    }

    .cat-icons div{
        aspect-ratio: 1/1;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: center;
        justify-self: center;
        gap: 2vw;
    }

    .cat-icons a{
        background-color: white;
        border-radius: 40%;
        width: 100%;
        aspect-ratio: 1/1;
        padding: 1vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cat-icons a img{
        width: 70%;
        aspect-ratio: 1/1;
        object-fit: contain;
    }

    .cat-icons div p{
        font: normal  2.5vw "Montserrat", sans-serif;
        color: white;
    }

    

    .info{
        margin-top: 5vh;
        margin-bottom: 10vh;
        width: 100vw;
        height: 125vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .info div{
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 5vw;

    }
    .info div p{
        text-align: center;
        font: normal 4vw "Montserrat",sans-serif;
        color: #797979;
    }
    .info img{
        width: 20%;
        aspect-ratio: 1/1;
        object-fit: contain;
    }

    .placeText{
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20vw;
        background-image: linear-gradient(to right, #00518C,  #377ED0 );
    }

    .placeText p{
        color: white;
        font: normal 4vw 'Montserrat',sans-serif;
    }

    .maps{
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2vh;
    }

    .maps iframe{
        width: 100%;
        height: 100%;
        aspect-ratio: 16/9;
    }

    .maps button{
        width: 100%;
        background-color: white;
        font: normal 3vw "Montserrat",sans-serif;
        color: #797979;
    }

    .maps hr{
        width: 100vw;
        height: 1px;
        background-color: #797979;
    }

    .locations{
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 8vh;
        gap: 5vh;
    }

    .locations img{
        width: 10%;
    }

    .locationUser{
        display: flex;
        width: 20vw;
        gap: 2vw;
    }

    .locationUser img{
        aspect-ratio: 1/1;
        object-fit: contain;
        width: 20%;
    }

    .place{
        width: 80vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10vw;
        border: 1 px solid white;
        box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.253);
        border-radius: 15%;
    }

    .place>img{
        width: 100%;
        border-radius: 30px;
        aspect-ratio: 16/9;
        object-fit: cover;
    }
}